body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #F95B3D;
  --secondary-color: #6B7ACC;
  --background-dark: #06020E;
  --background-medium: #150730;
  --background-light: #EEE5E9;
  --success-color: #809848;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}

.card {
  background-color: var(--background-light);
}

.task-card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
}

.task-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-light);
}

.task-column {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
}