

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * CSS reset * */
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-top:30px;
}

/* * Global Styles * ---------------------------*/

/* Brand Colors */
:root {
  --primary-color: #F95B3D;
  --secondary-color: #6B7ACC;
  --tertiary-color: #BDBBF1;
  --background-dark: #06020E;
  --background-medium: #150730;
  --background-light: #EEE5E9;
  --success-color: #809848;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}

/* Text Styles */

h1 {
  color: var(--primary-color);
  font-size: 3.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}

h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  color: var(--background-light);
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  color: var(--background-light);
  font-size: .7rem;
  font-weight: 500;
  /* margin needs a css reset or the y coords wont work */
  margin: 16px, 10px, 8px;
}

p {
  color: var(--background-light);
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
}

/* * Component Styles * -----------------------------*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark);
  min-height: 10vh;
}

.nav-bar .links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--background-dark);
  min-height: 10vh;
  padding: 0 60px;
}

.nav-bar a {
  list-style: none;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
  padding-left: 20px;
}

.nav-bar a:hover {
  color: var(--primary-color);
}

/* * Page Styles * ----------------------------------*/

/* Home Page ---------*/
.homeContent {
  display: flex;
  flex-direction: row;
  background-color: var(--background-medium);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  min-height: 100vh;
  min-width: 20%;
  max-width: 20%;
  padding-left: 16px;
  padding-top: 20px;
}

.sidebar-items {
  margin-top: 1px;
  margin-left: 50px;
}

.sidebar li {
  margin-bottom: 24px;
  padding-left: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  width: 90%;
}

.card:Hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: -0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card h4 {
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 500;
}
.projects-list-div {
  margin-top: 40px;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.link:hover {
  color: var(--primary-color);
}

.dark-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight:bold;
  font-size: 1.5rem;
}

.project-area {
  display: flex;
  flex-direction: column;
  background-color: var(--background-medium);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 75%;
  height: 100%;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Login/Sign up pages */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--background-medium);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 400px;
  color: var(--secondary-color);
}


/* Make the labels and inputs fill the container width */
/* .login-form input {
  width: 100%;
} */



.loginBtn {
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--background-medium);
  font-weight: 900;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.loginBtn:hover {
  outline: none;
  border:none;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.loginBtn:active {
  background-color: var(--primary-color);
  box-shadow: 0 1px white;
}

.auth-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-dark);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  color: var(--secondary-color);
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 30px;
  margin-right: 40px;
}

.sign-login-btn {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-medium);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  height: 100vh;
  width: 50%;
  color: var(--secondary-color);
}

input {
  border-radius: 8px;
  padding: 24px;
  margin: 10px;
  height: 32px;
  width: 80%;
  background-color: var(--background-medium);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

input::placeholder {
  color: var(--secondary-color);
  font-weight: bold;
}

input:focus {
  outline: none;
  color: var(--primary-color);
  font-weight: bold;
  border: 2px solid var(--primary-color);
}

.login-input {
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 10px;
  height: 60px;
  width: 100%;
  background-color: var(--background-medium);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.login-input::placeholder {
  color: var(--secondary-color);
  font-weight: bold;
}

.login-input:focus {
  outline: none;
  color: var(--primary-color);
  font-weight: bold;
  border: 2px solid var(--primary-color);
}



.logo {
  height: 100px;
  width: 250px;
  margin-left: 24px;
}

/* Tasks Page -------*/

.task-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-medium);
  min-height: 75vh;
  margin: 40px;
  width: 100%;
}

.task-form {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  padding-right: 40px;
  width: 100%;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
}

.form-label {
  margin-left: 10px;
}

.task-form input {
  border: none;
  outline: none;
}

.task-form input:focus {
  border: none;
  outline: none;
}

.name {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  height: 60px;
  width: 100%;
  background-color: var(--background-medium);
  border: none;
  color: var(--secondary-color);
  font-weight: bold;
}

textarea {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100px;
  background-color: var(--background-medium);
  color: var(--secondary-color);
  font-weight: bold;
}

textarea::placeholder {
  color: var(--secondary-color);
  font-weight: bold;
}

.task-row {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  align-items: space-between;
  border-radius: 8px;
  width: 100%;
}

.task-col {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  padding-top: 0px;
  width: 100%;
}

select {
  border-radius: 8px;
  height: 60px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--background-medium);
  color: var(--secondary-color);
  font-weight: bold;
}

#dueDate {
  border-radius: 8px;
  height: 60px;
  margin: 0px;
  margin-top: 10px;
  width: 105%;
  background-color: var(--background-medium);
  color: var(--secondary-color);
  font-weight: bold;
}

.date {
  border-radius: 8px;
  height: 60px;
  margin: 0px;
  margin-top: 10px;
  width: 105%;
  background-color: var(--background-medium);
  color: var(--secondary-color);
  font-weight: bold;
  border: none;
}

.spacer {
  height: 3px;
  background-color: var(--background-light);
  margin-bottom: 10px;
}

.spacer2 {
  height: 1px;
  background-color: var(--background-light);
  margin-bottom: 10px;
  margin-top: 10px;
}

.taskBtn {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--background-medium);
  font-weight: 900;
  width: 100%;
  border: 1px solid var(--primary-color);
}

.taskBtn:hover {
  outline: none;
  border:none;
  background-color: var(--background-medium);
  color: var(--primary-color);
  cursor: pointer;
}



.lanes{
  flex-direction: row;
  display: flex;
  align-items: space-between;
  background-color: var(--background-medium);
  margin-top: 10px;
  width: 100%;
}

.lane {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding-left: 10px;
  width: 100%;
  margin-right: 10px;
}

.lane h2 {
  padding-left: 20px;
  padding-top: 10px;
}

.task-card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  width: auto;
}

.task-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.25px 0.45px 1px .5px rgba(255, 255, 255, 0.5);
  cursor: auto;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.task-card-btn {
  color: var(--primary-color);
  font-weight: 700;
}
.task-card-btn:hover {
  color: var(--background-medium);
  font-weight: 700;
}

.modal .name {
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--background-medium);
}

.modal textarea {
  margin-left: 0px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--background-medium);
}

.modal select {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--background-medium);
  margin-bottom: 10px;
}

.modal .date {
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--background-medium);
  margin-right:none;
  width: 100%;
  margin-bottom: 20px;
}